<section class="chart-container">
  <app-expense-pie-chart></app-expense-pie-chart>

  <span class="spacer"></span>

  <app-sales-bar-chart></app-sales-bar-chart>
</section>

<mat-divider></mat-divider>

<section style="margin-bottom: 5vh">
  <mat-spinner *ngIf="loading"></mat-spinner>

  <app-table
    *ngIf="employeeData"
    [tableData]="employeeData"
    [tableColumns]="employeeColumns"
    [tableTitle]="employeeTableTitle"
    [tableActions]="true"
    (updateTable)="getEmployeeData()"
    (deleteRow)="deleteEmployee($event)"
    (editRow)="editEmployee($event)"
  ></app-table>
</section>
